{% extends 'base.html' %}


{%  block body %}
    <div class="container mt-3">



        <div class="row border mt-4 p-3 meupost">



            <div class="col col-3 text-center">
                <div class="image pe-2"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200"> </div>
                    <strong>{{post.autor.username}}</strong>
                <span class="data-hora">Publicado em {{ datetime.strftime(post.data_criacao, '%d/%m/%d às %H:%M') }}</span>
                     <div class="row justify-content-center">



                            {% if post.autor.cursos %}

                            {% for cursos in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{cursos}}</button>
                            {% endfor %}

                            {% else %}
                                <p>Nenhum Curso Cadastrado :(</p>
                            {% endif %}


                    </div>
            </div>

            <div class="col col-9">
                   <h3>{{post.titulo}}

                    <small class="text-muted" style="font-size: 15px"> - Data de criação: {{post.data_criacao.strftime('%d/%m/%d às %H:%M')}}

                    {% if form %}
                       - <a href="#form_editarpost">Editar post</a> /<a href="#" data-bs-toggle="modal" data-bs-target="#excluir_post">Excluir post</a>
                    {% endif %}

                    </small>

                   </h3>
                   <p>{{post.corpo}}</p>
            </div>

        </div>


    </div>

        <div class="container">
             <!--VERIFICAR SE EXISTE O FORMULÁRIO DE EDITAR POST NO ARQUIVO ROUTES.PY EM EXIBIR POST -->
        {% if form %}
                  <form method="POST" action="" id="form_editarpost" class="border p-4 mt-2"> <!-- INÍCIO DO FORMULÁRIO-->
                            {{form.csrf_token}}
               <legend>Editar POST</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form.titulo.label(class="form-control-label") }}
                            <!-- EXIBE MENSAGEM DE ERRO SE HOUVER-->
                            {% if form.titulo.errors %}
                                {{ form.titulo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                 {{ form.titulo(class="form-control") }}
                            {% endif %}

                        </div>

                          <div class="form-group">
                            {{ form.corpo.label(class="form-control-label") }}
                            <!-- EXIBE MENSAGEM DE ERRO SE HOUVER-->
                            {% if form.corpo.errors %}
                                {{ form.corpo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form.corpo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                 {{ form.corpo(class="form-control") }}
                            {% endif %}

                        </div>

                         {{ form.botao_submit(class="btn btn-primary mt-2") }}

                    </fieldset>
          </form><!-- FIM DO FORMULÁRIO-->
        {% endif %}
        </div>


        <!-- Modal FUNÇÃO PARA CHAMAR A JANELA PARA CONFIRMAR O EXCLUIR POST-->
            <div class="modal fade" id="excluir_post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}